.div-entete-pp-resta-et-navBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40%;
}


.div-entete-pp-restau{
    display: flex;
    flex-direction: row;
}

.div-entete-pp-restau-icone{
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 200%;
}



.photo-restaurant{
   size: "medium";
   height: 150px;
   width: 150;
   border-radius: "50%";
   justify-content: center;
}